<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
 <form action="/get" method="get">
  Usuario:<br>
  <input type="text" name="user" value="usuario"><br>
  Contraseña:<br>
  <input type="password" name="password" ><br>
  Nombre:<br>
  <input type="text" name="nombre" ><br>
  Clasificacion:<br>
  <input type="text" name="clasificacion" ><br>
  Presentacion:<br>
  <input type="text" name="presentacion" ><br>
  Marca:<br>
  <input type="text" name="marca" ><br>
  Codigo:<br>
  <input type="text" name="codigo" ><br>
  Informacion Adicional:<br>
  <input type="text" name="adicional" ><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
